<p>sign-up works!</p>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Pagination</h2>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
    <div class="col">
      <h2>Popover</h2>
      <button
        type="button"
        class="btn btn-lg btn-danger"
        data-toggle="popover"
        data-content="And here's some amazing content. It's very engaging. Right?"
      >
        <!-- title="Popover title" -->
        Click to toggle popover
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Progress</h2>
      <div class="progress mb-2">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress mb-2">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 25%;"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <div class="progress mb-2">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 50%;"
          aria-valuenow="50"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <div class="progress mb-2">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 75%;"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <div class="progress mb-2">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 100%;"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
    <div class="col">
      <h2>Scrollspy</h2>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <nav id="navbar-example3" class="navbar navbar-light bg-light">
              <a class="navbar-brand" href="#">Navbar</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link" href="#item-1">Item 1</a>
                <nav class="nav nav-pills flex-column">
                  <a class="nav-link ml-3 my-1" href="#item-1-1">Item 1-1</a>
                  <a class="nav-link ml-3 my-1" href="#item-1-2">Item 1-2</a>
                </nav>
                <a class="nav-link" href="#item-2">Item 2</a>
                <a class="nav-link" href="#item-3">Item 3</a>
                <nav class="nav nav-pills flex-column">
                  <a class="nav-link ml-3 my-1" href="#item-3-1">Item 3-1</a>
                  <a class="nav-link ml-3 my-1" href="#item-3-2">Item 3-2</a>
                </nav>
              </nav>
            </nav>
          </div>
          <div class="col">
            <div
              data-spy="scroll"
              data-target="#navbar-example3"
              data-offset="0"
              style="height: 400px; overflow-y: auto;"
            >
              <h4 id="item-1">Item 1</h4>
              <p>
                Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna
                ullamco eu. Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum
                incididunt tempor eu consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod
                consectetur in. Aliqua et aliqua officia quis et incididunt voluptate non anim reprehenderit adipisicing
                dolore ut consequat deserunt mollit dolore. Aliquip nulla enim veniam non fugiat id cupidatat nulla elit
                cupidatat commodo velit ut eiusmod cupidatat elit dolore.
              </p>
              <h5 id="item-1-1">Item 1-1</h5>
              <p>
                Amet tempor mollit aliquip pariatur excepteur commodo do ea cillum commodo Lorem et occaecat elit qui
                et. Aliquip labore ex ex esse voluptate occaecat Lorem ullamco deserunt. Aliqua cillum excepteur irure
                consequat id quis ea. Sit proident ullamco aute magna pariatur nostrud labore. Reprehenderit aliqua
                commodo eiusmod aliquip est do duis amet proident magna consectetur consequat eu commodo fugiat non
                quis. Enim aliquip exercitation ullamco adipisicing voluptate excepteur minim exercitation minim minim
                commodo adipisicing exercitation officia nisi adipisicing. Anim id duis qui consequat labore adipisicing
                sint dolor elit cillum anim et fugiat.
              </p>
              <h5 id="item-1-2">Item 1-2</h5>
              <p>
                Cillum nisi deserunt magna eiusmod qui eiusmod velit voluptate pariatur laborum sunt enim. Irure laboris
                mollit consequat incididunt sint et culpa culpa incididunt adipisicing magna magna occaecat. Nulla ipsum
                cillum eiusmod sint elit excepteur ea labore enim consectetur in labore anim. Proident ullamco ipsum
                esse elit ut Lorem eiusmod dolor et eiusmod. Anim occaecat nulla in non consequat eiusmod velit
                incididunt.
              </p>
              <h4 id="item-2">Item 2</h4>
              <p>
                Quis magna Lorem anim amet ipsum do mollit sit cillum voluptate ex nulla tempor. Laborum consequat non
                elit enim exercitation cillum aliqua consequat id aliqua. Esse ex consectetur mollit voluptate est in
                duis laboris ad sit ipsum anim Lorem. Incididunt veniam velit elit elit veniam Lorem aliqua quis ullamco
                deserunt sit enim elit aliqua esse irure. Laborum nisi sit est tempor laborum mollit labore officia
                laborum excepteur commodo non commodo dolor excepteur commodo. Ipsum fugiat ex est consectetur ipsum
                commodo tempor sunt in proident.
              </p>
              <h4 id="item-3">Item 3</h4>
              <p>
                Quis anim sit do amet fugiat dolor velit sit ea ea do reprehenderit culpa duis. Nostrud aliqua ipsum
                fugiat minim proident occaecat excepteur aliquip culpa aute tempor reprehenderit. Deserunt tempor mollit
                elit ex pariatur dolore velit fugiat mollit culpa irure ullamco est ex ullamco excepteur.
              </p>
              <h5 id="item-3-1">Item 3-1</h5>
              <p>
                Deserunt quis elit Lorem eiusmod amet enim enim amet minim Lorem proident nostrud. Ea id dolore anim
                exercitation aute fugiat labore voluptate cillum do laboris labore. Ex velit exercitation nisi enim
                labore reprehenderit labore nostrud ut ut. Esse officia sunt duis aliquip ullamco tempor eiusmod
                deserunt irure nostrud irure. Ullamco proident veniam laboris ea consectetur magna sunt ex exercitation
                aliquip minim enim culpa occaecat exercitation. Est tempor excepteur aliquip laborum consequat do
                deserunt laborum esse eiusmod irure proident ipsum esse qui.
              </p>
              <h5 id="item-3-2">Item 3-2</h5>
              <p>
                Labore sit culpa commodo elit adipisicing sit aliquip elit proident voluptate minim mollit nostrud aute
                reprehenderit do. Mollit excepteur eu Lorem ipsum anim commodo sint labore Lorem in exercitation velit
                incididunt. Occaecat consectetur nisi in occaecat proident minim enim sunt reprehenderit exercitation
                cupidatat et do officia. Aliquip consequat ad labore labore mollit ut amet. Sit pariatur tempor proident
                in veniam culpa aliqua excepteur elit magna fugiat eiusmod amet officia.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Spin</h2>
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-warning" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-info" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-light" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="col">
      <h2>Toasts</h2>
      <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
          <div class="toast-header">
            <img src="https://via.placeholder.com/30" class="rounded mr-2" alt="..." />
            <strong class="mr-auto">Bootstrap</strong>
            <small class="text-muted">just now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            See? Just like this.
          </div>
        </div>

        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
          <div class="toast-header">
            <img src="https://via.placeholder.com/30" class="rounded mr-2" alt="..." />
            <strong class="mr-auto">Bootstrap</strong>
            <small class="text-muted">2 seconds ago</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            Heads up, toasts will stack automatically
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <h2>Tooltips</h2>
      <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
        Tooltip on top
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        data-toggle="tooltip"
        data-placement="right"
        title="Tooltip on right"
      >
        Tooltip on right
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Tooltip on bottom"
      >
        Tooltip on bottom
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        data-toggle="tooltip"
        data-placement="left"
        title="Tooltip on left"
      >
        Tooltip on left
      </button>
      <br />
      <button
        type="button"
        class="btn btn-secondary"
        data-toggle="tooltip"
        data-html="true"
        title="<em>Tooltip</em> <u>with</u> <b>HTML</b>"
      >
        Tooltip with HTML
      </button>
      <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Disabled tooltip">
        <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Disabled button</button>
      </span>
    </div>
  </div>
</div>
